.arun{
    width: 1250px;
    height: 450px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 300px;
    height: 285px;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    background-color: aqua;
    position: relative;
}
.time3{
    position: absolute;
    bottom: 122px;
    right: 20px;
    font-size: 30px;
}
.time4{
    position: absolute;
    font-size: 30px;
    bottom: 0px;
    left: 141px;
}
.time5{
    position: absolute;
    font-size: 30px;
    bottom: 124px;
    left: 8px;
}
.time2{
    font-size: 30px;
}
.fa-random:before, .fa-shuffle:before {
    content: "\f074";
    position: absolute;
    left: 0px;
    top: 47%;
    font-size: 25px;
    color: blue;
    right: 0px;
}